bin/
obj/
out/
*.exe
*.dll
*.pdb
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/
.vs/
.idea/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.log
*.tmp
*.temp
*.pid
*.seed
*.pid.lock
appsettings*.json
.env
*.mdf
*.ldf
*.bak
*.cache
*.swp
*.sln.iml
publish/
*.publishsettings
.DS_Store
Thumbs.db
desktop.ini
project.lock.json
project.fragment.lock.json
